/* Nem CSS */
table {font-family: arial;border-collapse: collapse;width: 100%;}
td,th {border: 1px solid lightslategray;text-align: center;padding: 10px;font-size: 20px;}
tr:nth-child(even) {background-color: darkgrey;}
.background {background-color:black}
.titlecolor {color:ghostwhite}
.subtitlecolor {color:lightslategrey}
.textcolor{color:darkgray}
.group11padding{padding:14px 26px}

/* Ewan CSS */
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-camera-retro,.fa-tachometer,.fa-anchor,.fa-coffee,.fa-globe,.fa-code-fork,.fa-codepen,.fa-database,.fa-plane {font-size:200px}

/* Louise CSS */
.LouiseImage {border-radius: 10%; padding:10px; background-color: gray;}

/* Kamryn CSS */
.KamrynImage {border-radius: 12%; padding:12px; background-color: lightsalmon;}
/*.w3-bar-block .w3-bar-item {width:100%; display:block; padding:8px 16px; text-align:left; border:none; white-space:normal; float:none; outline:0 }*/


.w3-bar-block .w3-bar-item {display: flex;justify-content: space-between;align-items: center;background-color: black;color: white;padding: 20px;}
.w3-bar-block .w3-bar-item {font-size: 1.5rem;margin: .5rem;}
.w3-bar-block .w3-bar-item {margin: 0;padding: 0;display: flex;}
.w3-bar-block .w3-bar-item {list-style: none;}
.w3-bar-block .w3-bar-item {text-decoration: none;color: white;padding: 1rem;display: block;}
.w3-bar-block .w3-bar-item {background-color: pink;}
.w3-button {position: absolute;top: .75rem;right: 1rem;dispay: none;flex-direction: column;justify-content: space-between;width: 30px;height: 21px;}
.w3-button .w3-bar {height: 3px;width: 100%;background-color: white;border-radius: 10px;}
.w3-bar-block.w3-center {display:block;margin-left:auto;margin-right:auto;width:100%;}


